@import "compass/reset";
@import "compass/css3";

$mobile-width: 180px;
$tablet-width: 768px;
$desktop-width: 1200px;


@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}


@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
    
body {
    color: #000;
    font-family: "roya",sans-serif ;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    direction: ltr;
}

.right {
    float: right;
     @include tablet {
     margin-right: 2%;
  }
}
a {
    text-decoration: none;
}
 

#page { position:relative; z-index:5;}

img {
    vertical-align: middle;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eeeeee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

.preloader_hide {opacity:0;}
#preloader {position:fixed; left:50%; top:50%; width:32px; height:32px; margin:-16px 0 0 -16px; display:block;}

.container {
    width: 100%;
    margin:0 auto;
    max-width: 1170px;
}

.tag{
    font-weight: bold;
    color:#5fc0c3;
}
.two-col{
    width:60%;
    float:left;
    margin-top:3%;
      @include tablet {
     margin-left: 2%;
  }
    
}
.three-col{
   padding-left: 2%;
    padding-right: 2%;
    width: 29%;
    float:left;    
}
.for-col{
   padding-left: 2%;
    padding-right: 2%;
    width: 21%;
    float:left;
     @include tablet {
     width: 85%;
         display: inline-block;
  }
      @include mobile {
     width: 85%;
         display: inline-block;
  }
    
    
}
#header {
    height: 80px;
    width: 100%;
 
    #logo {
    float: left;
    height: 50px;
    margin-top: 20px;
    width: 14%;
    @include tablet {
     margin-left: 2%;
     }
    @include mobile {
    clear: both;
    float: none;
    height: 50px;
    margin: 0 auto 9% 27%;
    padding-top: 55px;
    width: 100px;
     }    
    }
}


#mainmenu ul.nav  {
    li{
    float: left;
    margin-top: 15px;
    padding: 13px 0 0 22px;
    list-style-type: none;
    list-style: outside none none;    
    } 
    li:nth-child(3) {
    border: 1px solid #61c0bd;
        a{
            color:#61c0bd;}
        
    }
    a {
    color: #777777;
    font-size: 16px;
    padding: 0 30px 0 0;
    text-decoration: none;
    }
}

#slider {
    float: right;
    img{
    max-width: 100%;
    height: auto;
     }
    
}


#events{
    background-color: #f1f2f5;
    float: right;
    height: 120px;
    width: 100%;
    h3{
      @include mobile {
       margin: 15% 15% 0;
       }   
    }
    p{
         @include mobile {
       display:none;
       }
    }
    a{
        margin-top:14%;
    }
    
}
#envolved{
    width: 100%;
    height:450px;
    float:right;
     @include tablet {
    height:auto;
    
  }
     @include mobile {
    height:auto;
  }
    .three-col{
         @include mobile {
        float:none;
        width: 96%;
       }
    }
    
}
#missions {
    background-color: #f1f2f5;
    float: right;
    height: 450px;
    line-height: 35px;
    text-align: center;
    width: 100%;
     @include tablet {
    height:auto;
    
  }
     @include mobile {
    height:auto;
  }
   .three-col {
    margin-top: 7%;
    @include tablet {
    margin-top: 8%;
   
  }
        @include mobile {
        float:none;
        width: 75%;
        margin-top:25%;
        margin-left: 12%;
       }
}
}
#missions h3,#blog h3{
    color:#5dc0c9;
    a{
      color:#5dc0c9;  
    }
}
#envolved h1,#missions h1,#members h1{
     color: #575656;
    font-size: 2em;
    margin: 25px auto;
    width: 19%;
     @include tablet {
    font-size: 1.2em;
  }
     @include mobile {
    font-size: 0.88em;
         font-weight: bold;
         width: 30%;
  }

}
#blog h1{
    color: #575656;
    font-size: 2em;
    margin: 20px auto;
    width: 7%;
     @include tablet {
    font-size: 1.2em;
     margin: 3px auto;    
  }
     @include mobile {
    font-size: 0.88em;
         font-weight: bold;
         margin: 3px auto;
  }
}
.button {
    @include border-radius(3px);
    float: right;
    font-size: 15px;
    font-weight: 400;
    margin-right: 15px;
    margin-top: 3%;
    padding: 15px 40px;
    text-decoration: none;
    
    @include mobile {
    margin-top: 3%;
    padding: 2px 12px;
    
    }
   
    &#solid-color{
        background-color: #5fc0c3; 
        color: #fff;
    }
    &#no-color{
        background-color: #fff;
        border: 1px solid;
        color:#61c0bd;
        @include mobile {
    margin-right:50px;
    
    }
    }
}

#members {
    width:100%;
    height:280px;
    float:right;
    background-color: #f1f2f5;
}
#blog{
    width:100%;
    height:330px;
    float:right;
    @include tablet {
     height:auto;  
      }
         @include mobile {
     height:auto;  
      }
}
#footer{
    width:100%;
    height:150px;
    background-color: #454850;
    float:right;
    p{
    color: #979eb1;
    margin: 65px auto 0 ;
    width: 50%;  
        
    @include tablet {
     width: 75%;  
      }
         @include mobile {
     width: 97%;  
      }
    }
    
}

/* envolved item */
.in-item{
    padding: 17%;
    float:left;
    text-align: center;
    
    p{
     color:#5b6172;
    margin-top:10px;   
    }
    &.tleft {
    text-align: left !important;
    }
    &.white {
    @include border-radius(6px);    
    background-color: #fff;
    color: #575656;
    padding: 8% !important;
        @include mobile{
            margin-bottom: 30%;
        }
    }
    
}
.in-itemb{
   
    float:left;
    text-align: center;
     
    p{
     color:#5b6172;
    margin-top:10px;   
    }
   
    &.tleft {
    text-align: left !important;
        @include mobile{
       border-bottom: 1px solid #eee;
    margin-bottom: 25px;
    
    }
    }
    
    &.white {
    @include border-radius(3px);    
    background-color: #fff;
    color: #575656;
    
    }
    
}

#iconone{
    background: rgba(0, 0, 0, 0) url("../images/img-icons.png") repeat scroll 17px 0;
    height: 115px;
    margin-bottom: 20px;
    margin-left: 45px;
    width: 160px;
     @include tablet {
    margin-left: 6px;
  }
    @include mobile{
    margin-left:20%;
  }
    
}
#icotwo{
     background: transparent url("../images/img-icons.png") repeat scroll -146px -1px;
    height: 116px;
    margin-bottom: 20px;
    margin-left: 43px;
    width: 124px;
    @include tablet {
    margin-left: 17px;
  }
     @include mobile{
    margin-left:29%;
  }
   
}
#iconthr{
   background: rgba(0, 0, 0, 0) url("../images/img-icons.png") repeat scroll -271px 0;
    height: 115px;
    margin-bottom: 20px;
    margin-left: 75px;
    width: 119px;
      @include tablet {
    margin-left: 20px;
  }
     @include mobile{
    margin-left:29%;
  }
     
}
#iconfor{
   background: rgba(0, 0, 0, 0) url("../images/img-icons.png") repeat scroll -618px 0;
    height: 109px;
    margin-left: 90px;
    width: 113px;
       @include tablet {
    margin-left: 36px;
  }
     @include mobile{
    margin-left:57%;
  }
     
}
#iconfiv{
   background: rgba(0, 0, 0, 0) url("../images/img-icons.png") repeat scroll -508px 0;
    height: 109px;
    margin-left: 90px;
    width: 110px;
       @include tablet {
    margin-left: 36px;
  }
     @include mobile{
    margin-left:57%;
  }
    
}
#iconsix{
   background: rgba(0, 0, 0, 0) url("../images/img-icons.png") repeat scroll -396px 0;
    height: 109px;
    margin-left: 90px;
    width: 113px;
       @include tablet {
    margin-left: 36px;
  }
     @include mobile{
    margin-left:57%;
  }
    
}
.icon.mis{
    height: 109px;
    margin-top: -84px;
    width: 115px;
}
.bigger{
    color:#5b6172;
    font-size:1.2em;
}

.charity_nav  h2{
    display:none;
}
section#lSlider div#slider  div.views-field.views-field-field-image-slider{
    margin: 0 auto;
    width: 99%;
}
#block-views-members-logo-block li{
margin-left: 2%;
    padding: 15px;
}
.jcarousel-skin-default .jcarousel-item{
    background: none;
}
.social{
     margin: 0 auto;
    width: 20%;
}
.mean-bar .mean-nav h2{
    display: none;
}
.sep hr{
border-top: 1px solid #d9d9dd;
    margin: 0;
    padding: 0 7.1%;
}

.views-field.views-field-field-members-logo{
    margin-top: 12%;
}
