/* line 5, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 28, ../sass/style.scss */
body {
  color: #000;
  font-family: "roya", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  direction: ltr;
}

/* line 37, ../sass/style.scss */
.right {
  float: right;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 37, ../sass/style.scss */
  .right {
    margin-right: 2%;
  }
}

/* line 43, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 48, ../sass/style.scss */
#page {
  position: relative;
  z-index: 5;
}

/* line 50, ../sass/style.scss */
.preloader_hide {
  opacity: 0;
}

/* line 51, ../sass/style.scss */
#preloader {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  margin: -16px 0 0 -16px;
  display: block;
}

/* line 53, ../sass/style.scss */
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}

/* line 59, ../sass/style.scss */
.tag {
  font-weight: bold;
  color: #5fc0c3;
}

/* line 63, ../sass/style.scss */
.two-col {
  width: 60%;
  float: left;
  margin-top: 3%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 63, ../sass/style.scss */
  .two-col {
    margin-left: 2%;
  }
}

/* line 72, ../sass/style.scss */
.three-col {
  padding-left: 2%;
  padding-right: 2%;
  width: 29%;
  float: left;
}

/* line 78, ../sass/style.scss */
.for-col {
  padding-left: 2%;
  padding-right: 2%;
  width: 21%;
  float: left;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 78, ../sass/style.scss */
  .for-col {
    width: 85%;
    display: inline-block;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 78, ../sass/style.scss */
  .for-col {
    width: 85%;
    display: inline-block;
  }
}

/* line 94, ../sass/style.scss */
#header {
  height: 80px;
  width: 100%;
}
/* line 98, ../sass/style.scss */
#header #logo {
  float: left;
  height: 50px;
  margin-top: 20px;
  width: 14%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 98, ../sass/style.scss */
  #header #logo {
    margin-left: 2%;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 98, ../sass/style.scss */
  #header #logo {
    clear: both;
    float: none;
    height: 50px;
    margin: 0 auto 0 2%;
    padding-top: 10px;
    width: 100px;
  }
}

/* line 119, ../sass/style.scss */
#mainmenu ul.nav li {
  float: left;
  margin-top: 15px;
  padding: 13px 0 0 22px;
  list-style-type: none;
  list-style: outside none none;
}
/* line 126, ../sass/style.scss */
#mainmenu ul.nav li:nth-child(3) {
  border: 1px solid #61c0bd;
}
/* line 128, ../sass/style.scss */
#mainmenu ul.nav li:nth-child(3) a {
  color: #61c0bd;
}
/* line 132, ../sass/style.scss */
#mainmenu ul.nav a {
  color: #777777;
  font-size: 16px;
  padding: 0 30px 0 0;
  text-decoration: none;
}

/* line 140, ../sass/style.scss */
#slider {
  float: right;
}
/* line 142, ../sass/style.scss */
#slider img {
  max-width: 100%;
  height: auto;
}

/* line 150, ../sass/style.scss */
#events {
  background-color: #f1f2f5;
  float: right;
  height: 120px;
  width: 100%;
}

/* line 157, ../sass/style.scss */
#envolved {
  width: 100%;
  height: 450px;
  float: right;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 157, ../sass/style.scss */
  #envolved {
    height: auto;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 157, ../sass/style.scss */
  #envolved {
    height: auto;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 168, ../sass/style.scss */
  #envolved .three-col {
    float: none;
    width: 96%;
  }
}

/* line 176, ../sass/style.scss */
#missions {
  background-color: #f1f2f5;
  float: right;
  height: 450px;
  line-height: 35px;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 176, ../sass/style.scss */
  #missions {
    height: auto;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 176, ../sass/style.scss */
  #missions {
    height: auto;
  }
}
/* line 190, ../sass/style.scss */
#missions .three-col {
  margin-top: 7%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 190, ../sass/style.scss */
  #missions .three-col {
    margin-top: 8%;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 190, ../sass/style.scss */
  #missions .three-col {
    float: none;
    width: 96%;
    margin-top: 25%;
  }
}

/* line 203, ../sass/style.scss */
#missions h3, #blog h3 {
  color: #5dc0c9;
}
/* line 205, ../sass/style.scss */
#missions h3 a, #blog h3 a {
  color: #5dc0c9;
}

/* line 209, ../sass/style.scss */
#envolved h1, #missions h1, #members h1 {
  color: #575656;
  font-size: 2em;
  margin: 25px auto;
  width: 19%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 209, ../sass/style.scss */
  #envolved h1, #missions h1, #members h1 {
    font-size: 1.2em;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 209, ../sass/style.scss */
  #envolved h1, #missions h1, #members h1 {
    font-size: 0.88em;
    font-weight: bold;
    width: 30%;
  }
}

/* line 224, ../sass/style.scss */
#blog h1 {
  color: #575656;
  font-size: 2em;
  margin: 20px auto;
  width: 7%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 224, ../sass/style.scss */
  #blog h1 {
    font-size: 1.2em;
    margin: 3px auto;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 224, ../sass/style.scss */
  #blog h1 {
    font-size: 0.88em;
    font-weight: bold;
    margin: 3px auto;
  }
}

/* line 239, ../sass/style.scss */
.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: right;
  font-size: 15px;
  font-weight: 400;
  margin-right: 15px;
  margin-top: 3%;
  padding: 15px 40px;
  text-decoration: none;
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 239, ../sass/style.scss */
  .button {
    margin-top: 3%;
    padding: 2px 12px;
  }
}
/* line 255, ../sass/style.scss */
.button#solid-color {
  background-color: #5fc0c3;
  color: #fff;
}
/* line 259, ../sass/style.scss */
.button#no-color {
  background-color: #fff;
  border: 1px solid;
  color: #61c0bd;
}

/* line 266, ../sass/style.scss */
#members {
  width: 100%;
  height: 280px;
  float: right;
  background-color: #f1f2f5;
}

/* line 272, ../sass/style.scss */
#blog {
  width: 100%;
  height: 330px;
  float: right;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 272, ../sass/style.scss */
  #blog {
    height: auto;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 272, ../sass/style.scss */
  #blog {
    height: auto;
  }
}

/* line 283, ../sass/style.scss */
#footer {
  width: 100%;
  height: 150px;
  background-color: #454850;
  float: right;
}
/* line 288, ../sass/style.scss */
#footer p {
  color: #979eb1;
  margin: 65px auto 0;
  width: 50%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 288, ../sass/style.scss */
  #footer p {
    width: 75%;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 288, ../sass/style.scss */
  #footer p {
    width: 97%;
  }
}

/* envolved item */
/* line 304, ../sass/style.scss */
.in-item {
  padding: 17%;
  float: left;
  text-align: center;
}
/* line 309, ../sass/style.scss */
.in-item p {
  color: #5b6172;
  margin-top: 10px;
}
/* line 313, ../sass/style.scss */
.in-item.tleft {
  text-align: left !important;
}
/* line 316, ../sass/style.scss */
.in-item.white {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  color: #575656;
  padding: 8% !important;
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 316, ../sass/style.scss */
  .in-item.white {
    margin-bottom: 30%;
  }
}

/* line 327, ../sass/style.scss */
.in-itemb {
  float: left;
  text-align: center;
}
/* line 331, ../sass/style.scss */
.in-itemb p {
  color: #5b6172;
  margin-top: 10px;
}
/* line 335, ../sass/style.scss */
.in-itemb.tleft {
  text-align: left !important;
}
/* line 338, ../sass/style.scss */
.in-itemb.white {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  color: #575656;
}

/* line 347, ../sass/style.scss */
#iconone {
  background: transparent url("../images/img-icons.png") repeat scroll 17px 0;
  height: 115px;
  margin-bottom: 20px;
  margin-left: 45px;
  width: 160px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 347, ../sass/style.scss */
  #iconone {
    margin-left: 6px;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 347, ../sass/style.scss */
  #iconone {
    margin-left: 9%;
  }
}

/* line 361, ../sass/style.scss */
#icotwo {
  background: transparent url("../images/img-icons.png") repeat scroll -146px -1px;
  height: 116px;
  margin-bottom: 20px;
  margin-left: 43px;
  width: 124px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 361, ../sass/style.scss */
  #icotwo {
    margin-left: 17px;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 361, ../sass/style.scss */
  #icotwo {
    margin-left: 19%;
  }
}

/* line 375, ../sass/style.scss */
#iconthr {
  background: transparent url("../images/img-icons.png") repeat scroll -271px 0;
  height: 115px;
  margin-bottom: 20px;
  margin-left: 75px;
  width: 119px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 375, ../sass/style.scss */
  #iconthr {
    margin-left: 20px;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 375, ../sass/style.scss */
  #iconthr {
    margin-left: 20%;
  }
}

/* line 389, ../sass/style.scss */
#iconfor {
  background: transparent url("../images/img-icons.png") repeat scroll -618px 0;
  height: 109px;
  margin-left: 90px;
  width: 113px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 389, ../sass/style.scss */
  #iconfor {
    margin-left: 36px;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 389, ../sass/style.scss */
  #iconfor {
    margin-left: 53%;
  }
}

/* line 402, ../sass/style.scss */
#iconfiv {
  background: transparent url("../images/img-icons.png") repeat scroll -508px 0;
  height: 109px;
  margin-left: 90px;
  width: 110px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 402, ../sass/style.scss */
  #iconfiv {
    margin-left: 36px;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 402, ../sass/style.scss */
  #iconfiv {
    margin-left: 53%;
  }
}

/* line 415, ../sass/style.scss */
#iconsix {
  background: transparent url("../images/img-icons.png") repeat scroll -396px 0;
  height: 109px;
  margin-left: 90px;
  width: 113px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 415, ../sass/style.scss */
  #iconsix {
    margin-left: 36px;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 415, ../sass/style.scss */
  #iconsix {
    margin-left: 53%;
  }
}

/* line 428, ../sass/style.scss */
.icon.mis {
  height: 109px;
  margin-top: -84px;
  width: 115px;
}

/* line 433, ../sass/style.scss */
.bigger {
  color: #5b6172;
  font-size: 1.2em;
}

/* line 438, ../sass/style.scss */
.charity_nav h2 {
  display: none;
}

/* line 441, ../sass/style.scss */
section#lSlider div#slider div.views-field.views-field-field-image-slider {
  margin: 0 auto;
  width: 99%;
}

/* line 445, ../sass/style.scss */
#block-views-members-logo-block li {
  margin-left: 2%;
  padding: 15px;
}

/* line 449, ../sass/style.scss */
.jcarousel-skin-default .jcarousel-item {
  background: none;
}

/* line 452, ../sass/style.scss */
.social {
  margin: 0 auto;
  width: 20%;
}

/* line 456, ../sass/style.scss */
.mean-bar .mean-nav h2 {
  display: none;
}
