/* line 5, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 28, ../sass/style.scss */
body {
  color: #000;
  font-family: "roya", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  direction: ltr;
}

/* line 37, ../sass/style.scss */
.right {
  float: right;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 37, ../sass/style.scss */
  .right {
    margin-right: 2%;
  }
}

/* line 43, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 48, ../sass/style.scss */
#page {
  position: relative;
  z-index: 5;
}

/* line 50, ../sass/style.scss */
img {
  vertical-align: middle;
}

/* line 54, ../sass/style.scss */
hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eeeeee -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: solid none none;
  border-width: 1px 0 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* line 67, ../sass/style.scss */
.preloader_hide {
  opacity: 0;
}

/* line 68, ../sass/style.scss */
#preloader {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  margin: -16px 0 0 -16px;
  display: block;
}

/* line 70, ../sass/style.scss */
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}

/* line 76, ../sass/style.scss */
.tag {
  font-weight: bold;
  color: #5fc0c3;
}

/* line 80, ../sass/style.scss */
.two-col {
  width: 60%;
  float: left;
  margin-top: 3%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 80, ../sass/style.scss */
  .two-col {
    margin-left: 2%;
  }
}

/* line 89, ../sass/style.scss */
.three-col {
  padding-left: 2%;
  padding-right: 2%;
  width: 29%;
  float: left;
}

/* line 95, ../sass/style.scss */
.for-col {
  padding-left: 2%;
  padding-right: 2%;
  width: 21%;
  float: left;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 95, ../sass/style.scss */
  .for-col {
    width: 85%;
    display: inline-block;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 95, ../sass/style.scss */
  .for-col {
    width: 85%;
    display: inline-block;
  }
}

/* line 111, ../sass/style.scss */
#header {
  height: 80px;
  width: 100%;
}
/* line 115, ../sass/style.scss */
#header #logo {
  float: left;
  height: 50px;
  margin-top: 20px;
  width: 14%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 115, ../sass/style.scss */
  #header #logo {
    margin-left: 2%;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 115, ../sass/style.scss */
  #header #logo {
    clear: both;
    float: none;
    height: 50px;
    margin: 0 auto 9% 27%;
    padding-top: 55px;
    width: 100px;
  }
}

/* line 136, ../sass/style.scss */
#mainmenu ul.nav li {
  float: left;
  margin-top: 15px;
  padding: 13px 0 0 22px;
  list-style-type: none;
  list-style: outside none none;
}
/* line 143, ../sass/style.scss */
#mainmenu ul.nav li:nth-child(3) {
  border: 1px solid #61c0bd;
}
/* line 145, ../sass/style.scss */
#mainmenu ul.nav li:nth-child(3) a {
  color: #61c0bd;
}
/* line 149, ../sass/style.scss */
#mainmenu ul.nav a {
  color: #777777;
  font-size: 16px;
  padding: 0 30px 0 0;
  text-decoration: none;
}

/* line 157, ../sass/style.scss */
#slider {
  float: right;
}
/* line 159, ../sass/style.scss */
#slider img {
  max-width: 100%;
  height: auto;
}

/* line 167, ../sass/style.scss */
#events {
  background-color: #f1f2f5;
  float: right;
  height: 120px;
  width: 100%;
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 172, ../sass/style.scss */
  #events h3 {
    margin: 15% 15% 0;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 177, ../sass/style.scss */
  #events p {
    display: none;
  }
}
/* line 182, ../sass/style.scss */
#events a {
  margin-top: 14%;
}

/* line 187, ../sass/style.scss */
#envolved {
  width: 100%;
  height: 450px;
  float: right;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 187, ../sass/style.scss */
  #envolved {
    height: auto;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 187, ../sass/style.scss */
  #envolved {
    height: auto;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 198, ../sass/style.scss */
  #envolved .three-col {
    float: none;
    width: 96%;
  }
}

/* line 206, ../sass/style.scss */
#missions {
  background-color: #f1f2f5;
  float: right;
  height: 450px;
  line-height: 35px;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 206, ../sass/style.scss */
  #missions {
    height: auto;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 206, ../sass/style.scss */
  #missions {
    height: auto;
  }
}
/* line 220, ../sass/style.scss */
#missions .three-col {
  margin-top: 7%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 220, ../sass/style.scss */
  #missions .three-col {
    margin-top: 8%;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 220, ../sass/style.scss */
  #missions .three-col {
    float: none;
    width: 75%;
    margin-top: 25%;
    margin-left: 12%;
  }
}

/* line 234, ../sass/style.scss */
#missions h3, #blog h3 {
  color: #5dc0c9;
}
/* line 236, ../sass/style.scss */
#missions h3 a, #blog h3 a {
  color: #5dc0c9;
}

/* line 240, ../sass/style.scss */
#envolved h1, #missions h1, #members h1 {
  color: #575656;
  font-size: 2em;
  margin: 25px auto;
  width: 19%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 240, ../sass/style.scss */
  #envolved h1, #missions h1, #members h1 {
    font-size: 1.2em;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 240, ../sass/style.scss */
  #envolved h1, #missions h1, #members h1 {
    font-size: 0.88em;
    font-weight: bold;
    width: 30%;
  }
}

/* line 255, ../sass/style.scss */
#blog h1 {
  color: #575656;
  font-size: 2em;
  margin: 20px auto;
  width: 7%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 255, ../sass/style.scss */
  #blog h1 {
    font-size: 1.2em;
    margin: 3px auto;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 255, ../sass/style.scss */
  #blog h1 {
    font-size: 0.88em;
    font-weight: bold;
    margin: 3px auto;
  }
}

/* line 270, ../sass/style.scss */
.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: right;
  font-size: 15px;
  font-weight: 400;
  margin-right: 15px;
  margin-top: 3%;
  padding: 15px 40px;
  text-decoration: none;
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 270, ../sass/style.scss */
  .button {
    margin-top: 3%;
    padding: 2px 12px;
  }
}
/* line 286, ../sass/style.scss */
.button#solid-color {
  background-color: #5fc0c3;
  color: #fff;
}
/* line 290, ../sass/style.scss */
.button#no-color {
  background-color: #fff;
  border: 1px solid;
  color: #61c0bd;
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 290, ../sass/style.scss */
  .button#no-color {
    margin-right: 50px;
  }
}

/* line 301, ../sass/style.scss */
#members {
  width: 100%;
  height: 280px;
  float: right;
  background-color: #f1f2f5;
}

/* line 307, ../sass/style.scss */
#blog {
  width: 100%;
  height: 330px;
  float: right;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 307, ../sass/style.scss */
  #blog {
    height: auto;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 307, ../sass/style.scss */
  #blog {
    height: auto;
  }
}

/* line 318, ../sass/style.scss */
#footer {
  width: 100%;
  height: 150px;
  background-color: #454850;
  float: right;
}
/* line 323, ../sass/style.scss */
#footer p {
  color: #979eb1;
  margin: 65px auto 0;
  width: 50%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 323, ../sass/style.scss */
  #footer p {
    width: 75%;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 323, ../sass/style.scss */
  #footer p {
    width: 97%;
  }
}

/* envolved item */
/* line 339, ../sass/style.scss */
.in-item {
  padding: 17%;
  float: left;
  text-align: center;
}
/* line 344, ../sass/style.scss */
.in-item p {
  color: #5b6172;
  margin-top: 10px;
}
/* line 348, ../sass/style.scss */
.in-item.tleft {
  text-align: left !important;
}
/* line 351, ../sass/style.scss */
.in-item.white {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  color: #575656;
  padding: 8% !important;
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 351, ../sass/style.scss */
  .in-item.white {
    margin-bottom: 30%;
  }
}

/* line 362, ../sass/style.scss */
.in-itemb {
  float: left;
  text-align: center;
}
/* line 367, ../sass/style.scss */
.in-itemb p {
  color: #5b6172;
  margin-top: 10px;
}
/* line 372, ../sass/style.scss */
.in-itemb.tleft {
  text-align: left !important;
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 372, ../sass/style.scss */
  .in-itemb.tleft {
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
  }
}
/* line 381, ../sass/style.scss */
.in-itemb.white {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  color: #575656;
}

/* line 390, ../sass/style.scss */
#iconone {
  background: transparent url("../images/img-icons.png") repeat scroll 17px 0;
  height: 115px;
  margin-bottom: 20px;
  margin-left: 45px;
  width: 160px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 390, ../sass/style.scss */
  #iconone {
    margin-left: 6px;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 390, ../sass/style.scss */
  #iconone {
    margin-left: 20%;
  }
}

/* line 404, ../sass/style.scss */
#icotwo {
  background: transparent url("../images/img-icons.png") repeat scroll -146px -1px;
  height: 116px;
  margin-bottom: 20px;
  margin-left: 43px;
  width: 124px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 404, ../sass/style.scss */
  #icotwo {
    margin-left: 17px;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 404, ../sass/style.scss */
  #icotwo {
    margin-left: 29%;
  }
}

/* line 418, ../sass/style.scss */
#iconthr {
  background: transparent url("../images/img-icons.png") repeat scroll -271px 0;
  height: 115px;
  margin-bottom: 20px;
  margin-left: 75px;
  width: 119px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 418, ../sass/style.scss */
  #iconthr {
    margin-left: 20px;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 418, ../sass/style.scss */
  #iconthr {
    margin-left: 29%;
  }
}

/* line 432, ../sass/style.scss */
#iconfor {
  background: transparent url("../images/img-icons.png") repeat scroll -618px 0;
  height: 109px;
  margin-left: 90px;
  width: 113px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 432, ../sass/style.scss */
  #iconfor {
    margin-left: 36px;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 432, ../sass/style.scss */
  #iconfor {
    margin-left: 57%;
  }
}

/* line 445, ../sass/style.scss */
#iconfiv {
  background: transparent url("../images/img-icons.png") repeat scroll -508px 0;
  height: 109px;
  margin-left: 90px;
  width: 110px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 445, ../sass/style.scss */
  #iconfiv {
    margin-left: 36px;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 445, ../sass/style.scss */
  #iconfiv {
    margin-left: 57%;
  }
}

/* line 458, ../sass/style.scss */
#iconsix {
  background: transparent url("../images/img-icons.png") repeat scroll -396px 0;
  height: 109px;
  margin-left: 90px;
  width: 113px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 458, ../sass/style.scss */
  #iconsix {
    margin-left: 36px;
  }
}
@media (min-width: 180px) and (max-width: 767px) {
  /* line 458, ../sass/style.scss */
  #iconsix {
    margin-left: 57%;
  }
}

/* line 471, ../sass/style.scss */
.icon.mis {
  height: 109px;
  margin-top: -84px;
  width: 115px;
}

/* line 476, ../sass/style.scss */
.bigger {
  color: #5b6172;
  font-size: 1.2em;
}

/* line 481, ../sass/style.scss */
.charity_nav h2 {
  display: none;
}

/* line 484, ../sass/style.scss */
section#lSlider div#slider div.views-field.views-field-field-image-slider {
  margin: 0 auto;
  width: 99%;
}

/* line 488, ../sass/style.scss */
#block-views-members-logo-block li {
  margin-left: 2%;
  padding: 15px;
}

/* line 492, ../sass/style.scss */
.jcarousel-skin-default .jcarousel-item {
  background: none;
}

/* line 495, ../sass/style.scss */
.social {
  margin: 0 auto;
  width: 20%;
}

/* line 499, ../sass/style.scss */
.mean-bar .mean-nav h2 {
  display: none;
}

/* line 502, ../sass/style.scss */
.sep hr {
  border-top: 1px solid #d9d9dd;
  margin: 0;
  padding: 0 7.1%;
}

/* line 508, ../sass/style.scss */
.views-field.views-field-field-members-logo {
  margin-top: 12%;
}
